.idea
.txt
venv/
*.log
.vs/
__pycache__/
.vscode
!requirements.txt
build/
dist/
parser/
!test.html
!test.txt
!test.py
webdriver/
download/
ChromeProfile/
ChromeProfile2/
ChromeProfile_1/
ChromeProfile_2/
ChromeProfile_3/
ChromeProfile_4/
ChromeProfile_5/
ChromeProfile_6/
ChromeProfile_7/
ChromeProfile_8/
ChromeProfile_9/
ChromeProfile_10/
ChromeProfile_11/
ChromeProfile_12/
ChromeProfile_0/
*.csv
local_settings.py
test.py
*.1
*.2
*.3
*.4
*.bat
*.json
debug_neworder.py
chromedriver/
*.spec
ourproducts.txt
ourproducts2.txt
testcode/test_main.py